.navigation {
    background-color: rgba($color-primary, .7);
    @include clearfix; 
    padding: 4rem;
    position: fixed;
    width: 100%; 
    height: 10vh; 
    z-index: 1000;


    &__logo {
        text-decoration: none;
        color: $color-white;
        float: left;
        // padding: 1rem;
        padding-left: 10rem; 
        text-transform: uppercase;
    }

    &__list {
        float: right;
        list-style: none;
        text-decoration: none;
    }

    &__item {
        float: left; 
        transition: all .3s;
        &:hover {
            transform: scale(1.15);
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-white; 
            text-decoration: none;
            padding: 1rem 2rem;
            text-transform: uppercase;
            transition: all .2s;
        }

    }
}