.btn {
    &:link,
    &:visited {
        text-transform: uppercase; 
        color: $color-primary-dark; 
        font-weight: 600; 
        padding: 1.5rem 3rem; 
        border: 3px solid $color-primary-dark; 
        margin-top: 3rem; 
        text-decoration: none; 
        display: inline-block; 
        cursor: pointer;
        transition: all .2s; 
    }

    &:hover {
        transform: scale(1.2); 
        background-color: $color-primary-dark;
        color: $color-white; 
    }
}

.btn-white {
    &:link,
    &:visited {
        color: $color-white; 
        padding: 0 3.5rem;
        text-decoration: none; 
        display: inline-block;
        cursor: pointer;
        transition: all .3s;
    }

    &:hover {
        transform: scale(1.2);
    }
}