.panel {
    @include clearfix;
    padding: 5rem 5rem 0 5rem;

    @include respond(tab-port) {
        padding: 0;
    }

    &__shape {
        width: 30%; 
        float: left; 
        padding-right: 3rem; 

        @include respond(tab-port) {
            float: none; 
            width: 100%; 
            padding-right: 0; 
            margin-bottom: 3rem;
        }
    }

    &__img {
        border-radius: 50%;
        box-shadow: $shadow-primary;
    }

    &__text {
        width: 69%; 
        float: right; 
        color: $color-grey-light-1; 
        font-weight: 300;

        @include respond(tab-port) {
            float: none; 
            width: 100%;
        }

        p {
            margin-bottom: 2rem;
            &:last-child{
                margin-bottom: 0;
            }
        }

        h2 {
            @include respond(tab-port) {
                text-align: center;
            }
        }
    }

    
}